.bg-grey-dark {
  background-color: $grey-dark !important;
}

.bg-grey {
  background-color: #888 !important;
}

.bg-grey-lightest {
  background-color: #fafafa !important;
}

.bg-grey-light {
    background-color: $grey-light !important;
}

.bg-grey-lighter {
    background-color: #f3f3f3 !important;
}

.bg-orange {
  background-color: #ff8b00 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-blue {
  background-color: $brand-primary !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-red{
  background-color: #FA8072 !important;
}
