.fg-grey {
  color: #888 !important;
}

.fg-light-grey{
    color: $grey-light !important;
}

.fg-orange {
  color: $orange !important;
}

.fg-white {
  color: #fff !important;
}

.fg-blue {
  color: $blue-dark !important;
}

.fg-sky {
    color : $sky !important;
}
.fg-green {
  color: $green !important;
}

.fg-red {
    color: $red !important;
}

.fg-cyan {
    color: $cyan !important;
}

.fg-grey-dark{
    color: $grey-dark !important;
}
